# file: /etc/network/interfaces
# synopsis: network interface definitions for the Cluster/Management servers

# The loopback network interface
auto lo
iface lo inet loopback
  dns-nameservers 127.0.0.1
  dns-search {{search_domain}}

# The main network interface
{% if nic1 is defined %}
auto {{nic1}}
iface {{nic1}} inet manual
{% endif %}
{% if nic2 is defined %}
auto {{nic2}}
iface {{nic2}} inet manual
{% endif %}
{% if nic3 is defined %}
auto {{nic3}}
iface {{nic3}} inet manual
{% endif %}
{% if nic4 is defined %}
auto {{nic4}}
iface {{nic4}} inet manual
{% endif %}
{% if bond0_name is defined %}
auto {{bond0_name}}
iface {{bond0_name}} inet static
	address {{bond0_cidr}}
	gateway {{bond0_gw}}
	{% if secondary_dns is defined %}
	dns-nameservers {{primary_dns}} {{secondary_dns}}
	{% else %}
	dns-nameservers {{primary_dns}}
	{% endif %}
	dns-search {{search_domain}}
	bond-slaves {{bond0_slaves}}
	bond-mode {{bond0_mode}}
	bond-miimon 100
	bond-downdelay 200
	bond-updelay 400
{% else %}
auto {{nic1}}
iface {{nic1}} inet static
    address {{bond0_cidr}}
    gateway {{}}
	{% if secondary_dns is defined %}
	dns-nameservers {{primary_dns}} {{secondary_dns}}
	{% else %}
	dns-nameservers {{primary_dns}}
	{% endif %}
    dns-search {{search_domain}}
{% endif %}

# The Cluster VLAN interface
{% if vland_id is defined %}
auto {{bond0_name}}.{{vlan_id}}
iface {{bond0_name}}.{{vlan_id}} inet manual
	address {{vlan_cidr}}
	{% if secondary_dns is defined %}
	dns-nameservers {{primary_dns}} {{secondary_dns}}
	{% else %}
	dns-nameservers {{primary_dns}}
	{% endif %}
	dns-search {{search_domain}}
{% endif %}